<div class="container" (contextmenu)="onRightClick($event)"></div>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer" align="center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectionType">
            <mat-button-toggle name="annual" value="annual">annual leave</mat-button-toggle>
            <mat-button-toggle name="homeoffice" value="homeoffice">home office</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<div class="content" role="main">
    <div class="card-container">
        <ng-container *ngFor="let month of [].constructor(12); let i = index">
            <app-mat-calendar-wrapper (notifyParent)="getNotification($event)" [startMonth]="i" [selectionType]="selectionType"></app-mat-calendar-wrapper>
        </ng-container>
    </div>
    <!-- Settings -->
    <h3>Settings</h3>
    <div class="card-container">

        <form class="card-small">
            <mat-form-field>
                <mat-label>home office limit</mat-label>
                <input type="number" min="0" name="homeOfficeLimit" matInput [(ngModel)]="payload.homeOfficeLimit" [attr.disabled]="payload.daysMap.size > 0 ? true : null">
                <mat-hint>home office limit</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>annual leave limit</mat-label>
                <input type="number" min="0" name="annualLeaveLimit" matInput [(ngModel)]="payload.annualLeaveLimit" [attr.disabled]="payload.daysMap.size > 0 ? true : null">
                <mat-hint>annual leave limit</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <!-- Sum -->
    <h3>Sum</h3>
    <div class="card-container">
    <button class="card card-small" tabindex="0">
        <mat-icon fontIcon="upload"></mat-icon>
        <span>Load layout</span>
    </button>
    <button class="card card-small" tabindex="0" (click)="generatePayload()">
        <mat-icon fontIcon="save"></mat-icon>
        <span>Save layout</span>
    </button>
    </div>
</div>
