/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
}
.example-month-picker .mat-calendar-header{
  display: none;
}
mat-year-view .mat-calendar-body-label{
  display: none !important;
}
.example-month-picker.mat-calendar {
  height: 250px !important;
  .mat-calendar-table-header th{
    padding: 8px 0;
  }
}
